Service Cloud/Coaching Intelligence/force-app/main/default/flows/Coaching_Case_v2.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Build_Transcript</name>
        <label>Build Case Transcript</label>
        <locationX>176</locationX>
        <locationY>134</locationY>
        <actionName>CaseTranscriptProvider</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Evaluate_Coaching</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>caseId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>CaseTranscriptProvider</nameSegment>
        <offset>0</offset>
        <outputParameters>
            <assignToReference>transcriptText</assignToReference>
            <name>transcript</name>
        </outputParameters>
    </actionCalls>
    <actionCalls>
        <name>Evaluate_Coaching</name>
        <label>Evaluate Coaching (Case v2)</label>
        <locationX>176</locationX>
        <locationY>242</locationY>
        <actionName>Coaching_Case_v2</actionName>
        <actionType>generatePromptResponse</actionType>
        <connector>
            <targetReference>Ingest_Coaching</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>Input:Transcript</name>
            <value>
                <elementReference>transcriptText</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Coaching_Case_v2</nameSegment>
        <offset>0</offset>
        <outputParameters>
            <assignToReference>coachingOutput</assignToReference>
            <name>promptResponse</name>
        </outputParameters>
    </actionCalls>
    <actionCalls>
        <name>Ingest_Coaching</name>
        <label>Ingest Coaching</label>
        <locationX>176</locationX>
        <locationY>350</locationY>
        <actionName>CoachingIngestService</actionName>
        <actionType>apex</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>rawJson</name>
            <value>
                <elementReference>coachingOutput</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>channel</name>
            <value>
                <stringValue>Case</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recordId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>agentId</name>
            <value>
                <elementReference>$Record.OwnerId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>model</name>
            <value>
                <stringValue>sfdc_ai__DefaultGPT41</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>promptVersion</name>
            <value>
                <stringValue>Coaching_Case_v2</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>analysisType</name>
            <value>
                <stringValue>Real-time</stringValue>
            </value>
        </inputParameters>
        <nameSegment>CoachingIngestService</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <apiVersion>64.0</apiVersion>
    <description>Coaching Intelligence v2: on Case close, assemble a transcript, evaluate coaching and sentiment via Coaching_Case_v2, and persist a Coaching Insight.</description>
    <environments>Default</environments>
    <interviewLabel>Coaching Case v2 {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Coaching Case v2</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
        <filterLogic>and</filterLogic>
        <filters>
            <field>IsClosed</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>Case</object>
        <recordTriggerType>Update</recordTriggerType>
        <scheduledPaths>
            <connector>
                <targetReference>Build_Transcript</targetReference>
            </connector>
            <pathType>AsyncAfterCommit</pathType>
        </scheduledPaths>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>coachingOutput</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>transcriptText</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
