Service Cloud/Case Tagging/force-app/main/default/flows/Agent_Response_Accuracy_Flow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <description>Calls the Agent Response Accuracy Analyzer Prompt Template</description>
        <name>Analyze_Agent_Response</name>
        <label>Analyze Agent Response</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>Agent_Response_Accuracy_Analyzer</actionName>
        <actionType>generatePromptResponse</actionType>
        <connector>
            <targetReference>Process_Accuracy_Evaluation</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>Input:repResponse</name>
            <value>
                <elementReference>repResponse</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>Input:customerQuestion</name>
            <value>
                <elementReference>customerQuestion</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>Input:channel</name>
            <value>
                <elementReference>channel</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>Input:caseId</name>
            <value>
                <elementReference>caseId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>Input:agentId</name>
            <value>
                <elementReference>agentId</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Agent_Response_Accuracy_Analyzer</nameSegment>
        <offset>0</offset>
        <outputParameters>
            <assignToReference>analysisResponse</assignToReference>
            <name>promptResponse</name>
        </outputParameters>
    </actionCalls>
    <actionCalls>
        <description>Calls the Agent Response Accuracy Processor class to create evaluation records and update scores</description>
        <name>Process_Accuracy_Evaluation</name>
        <label>Process Accuracy Evaluation</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>AgentResponseAccuracyProcessor</actionName>
        <actionType>apex</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>evaluationData</name>
            <value>
                <elementReference>analysisResponse</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>agentId</name>
            <value>
                <elementReference>agentId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>caseId</name>
            <value>
                <elementReference>caseId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>repResponse</name>
            <value>
                <elementReference>repResponse</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>customerQuestion</name>
            <value>
                <elementReference>customerQuestion</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>channel</name>
            <value>
                <elementReference>channel</elementReference>
            </value>
        </inputParameters>
        <nameSegment>AgentResponseAccuracyProcessor</nameSegment>
        <offset>0</offset>
        <outputParameters>
            <assignToReference>evaluationId</assignToReference>
            <name>evaluationId</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>accuracyScore</assignToReference>
            <name>accuracyScore</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>updatedAgentScore</assignToReference>
            <name>updatedAgentScore</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>processingMessage</assignToReference>
            <name>message</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>success</assignToReference>
            <name>success</name>
        </outputParameters>
    </actionCalls>
    <apiVersion>64.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <environments>Default</environments>
    <interviewLabel>Agent Response Accuracy Flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Agent Response Accuracy Flow</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Analyze_Agent_Response</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>accuracyScore</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>agentId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>This stores the JSON response from the GenAI Prompt Template</description>
        <name>analysisResponse</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>caseId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>channel</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>customerQuestion</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>evaluationId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>knowledgeBaseContext</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>processingMessage</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>repResponse</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>success</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>updatedAgentScore</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <scale>2</scale>
    </variables>
</Flow>
