Service Cloud/Case Tagging/force-app/main/default/flows/Case_Tagging_Trends_Summary_Flow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Generate_Summary</name>
        <label>Generate Summary</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>Case_Tagging_Trends_Summary</actionName>
        <actionType>generatePromptResponse</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>Input:Case_Tagging_Summary_Context__c</name>
            <value>
                <elementReference>varContext</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Case_Tagging_Trends_Summary</nameSegment>
        <offset>0</offset>
        <outputParameters>
            <assignToReference>SummaryText</assignToReference>
            <name>promptResponse</name>
        </outputParameters>
    </actionCalls>
    <apiVersion>65.0</apiVersion>
    <description>Gets context record by Id, calls AI prompt Case_Tagging_Trends_Summary, returns narrative. Input: ContextId (Id of Case_Tagging_Summary_Context__c). Output: SummaryText.</description>
    <interviewLabel>Case Tagging Trends Summary {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Case Tagging Trends Summary Flow</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Context_Record</name>
        <label>Get Context Record</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Generate_Summary</targetReference>
        </connector>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Case_Tagging_Summary_Context__c</object>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ContextId</elementReference>
            </value>
        </filters>
        <outputReference>varContext</outputReference>
    </recordLookups>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Context_Record</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>ContextId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>SummaryText</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varContext</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Case_Tagging_Summary_Context__c</objectType>
    </variables>
</Flow>
