Service Cloud/Case Tagging/force-app/main/default/flows/Case_Tagging_Analysis_Flow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Generate_Case_Tags</name>
        <label>Generate Case Tags</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>Case_Tagging_Analysis</actionName>
        <actionType>generatePromptResponse</actionType>
        <connector>
            <targetReference>Update_Case_With_Tags</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>Input:Case</name>
            <value>
                <elementReference>varCase</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Case_Tagging_Analysis</nameSegment>
        <offset>0</offset>
        <outputParameters>
            <assignToReference>promptResponseTags</assignToReference>
            <name>promptResponse</name>
        </outputParameters>
    </actionCalls>
    <apiVersion>65.0</apiVersion>
    <description>Autolaunched flow for Case Tagging. Gets Case, calls AI prompt template Case_Tagging_Analysis, and writes tags to Case_Tags__c.</description>
    <interviewLabel>Case Tagging Analysis Flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Case Tagging Analysis Flow</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Case</name>
        <label>Get Case</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Generate_Case_Tags</targetReference>
        </connector>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Case</object>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>CaseId</elementReference>
            </value>
        </filters>
        <outputReference>varCase</outputReference>
    </recordLookups>
    <recordUpdates>
        <name>Update_Case_With_Tags</name>
        <label>Update Case With Tags</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>CaseId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Case_Tags__c</field>
            <value>
                <elementReference>promptResponseTags</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Case_Tags_Last_Analyzed_Date__c</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Case</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>CaseId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>promptResponseTags</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varCase</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Case</objectType>
    </variables>
</Flow>
