Service Cloud/Coaching Intelligence/optional/voice-chat/force-app/main/default/flows/Coaching_Chat_v2.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Evaluate_Coaching</name>
        <label>Evaluate Coaching (Chat v2)</label>
        <locationX>176</locationX>
        <locationY>134</locationY>
        <actionName>Coaching_Chat_v2</actionName>
        <actionType>generatePromptResponse</actionType>
        <connector>
            <targetReference>Ingest_Coaching</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>Input:Messaging_Session</name>
            <value>
                <elementReference>$Record</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Coaching_Chat_v2</nameSegment>
        <offset>0</offset>
        <outputParameters>
            <assignToReference>coachingOutput</assignToReference>
            <name>promptResponse</name>
        </outputParameters>
    </actionCalls>
    <actionCalls>
        <name>Ingest_Coaching</name>
        <label>Ingest Coaching</label>
        <locationX>176</locationX>
        <locationY>242</locationY>
        <actionName>CoachingIngestService</actionName>
        <actionType>apex</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>rawJson</name>
            <value>
                <elementReference>coachingOutput</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>channel</name>
            <value>
                <stringValue>Chat</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recordId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>agentId</name>
            <value>
                <elementReference>$Record.OwnerId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>model</name>
            <value>
                <stringValue>sfdc_ai__DefaultGPT41</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>promptVersion</name>
            <value>
                <stringValue>Coaching_Chat_v2</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>analysisType</name>
            <value>
                <elementReference>AnalysisType_Formula</elementReference>
            </value>
        </inputParameters>
        <nameSegment>CoachingIngestService</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <apiVersion>64.0</apiVersion>
    <description>Coaching Intelligence v2: on Messaging Session end (or historical re-run), evaluate coaching and sentiment via the Coaching_Chat_v2 prompt and persist a Coaching Insight.</description>
    <environments>Default</environments>
    <formulas>
        <name>AnalysisType_Formula</name>
        <dataType>String</dataType>
        <expression>IF({!$Record.Request_Historical_Analysis__c}, "Historical", "Real-time")</expression>
    </formulas>
    <interviewLabel>Coaching Chat v2 {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Coaching Chat v2</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
        <filterLogic>1 OR 2</filterLogic>
        <filters>
            <field>Status</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Ended</stringValue>
            </value>
        </filters>
        <filters>
            <field>Request_Historical_Analysis__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>MessagingSession</object>
        <recordTriggerType>Update</recordTriggerType>
        <scheduledPaths>
            <connector>
                <targetReference>Evaluate_Coaching</targetReference>
            </connector>
            <pathType>AsyncAfterCommit</pathType>
        </scheduledPaths>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>coachingOutput</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
