Agentforce/RMA Process/flows/Create_Case_and_add_Documentation.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <description>This will generate an RMA document</description>
        <name>Generate_RMA_Document</name>
        <label>Generate RMA Document</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>RMAGeneratorFlowAction</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Route_Work_Action_1</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>approvalNotes</name>
            <value>
                <stringValue>RMA has been approved by RMA department</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>caseId</name>
            <value>
                <elementReference>Create_Case</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>customerEmail</name>
            <value>
                <elementReference>Get_Contact.Email</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>customerName</name>
            <value>
                <elementReference>Get_Contact.Name</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>customerPhone</name>
            <value>
                <elementReference>Get_Contact.HomePhone</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>errorMessages</name>
            <value>
                <elementReference>errormessage</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>estimatedResolutionTime</name>
            <value>
                <stringValue>Return Initiated</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>estimatedShipDate</name>
            <value>
                <stringValue>08/09/2025</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>issueCategory</name>
            <value>
                <stringValue>General Inquiry</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>partNumber</name>
            <value>
                <elementReference>serialNumber</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>problemDescription</name>
            <value>
                <stringValue>The customer has complained about the item they purchased not working</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>processingNotes</name>
            <value>
                <stringValue>Customer requested RMA. Inventory exists for item at the warehouse.</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>productName</name>
            <value>
                <elementReference>productName</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>purchaseDate</name>
            <value>
                <stringValue>04/12/2025</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>repairOrReplace</name>
            <value>
                <stringValue>Replace Approved</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>replacementProduct</name>
            <value>
                <elementReference>productName</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>serialNumber</name>
            <value>
                <elementReference>serialNumber</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>severityLevel</name>
            <value>
                <stringValue>Severe</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>shippingAddress</name>
            <value>
                <stringValue>415 Mission St, San Francisco, CA 94105</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>shippingMethod</name>
            <value>
                <stringValue>Expedited</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>specialInstructions</name>
            <value>
                <elementReference>additionalNotes</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>stepsToReproduce</name>
            <value>
                <elementReference>stepstoproduce</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>symptomsObserved</name>
            <value>
                <elementReference>reportedIssues</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>warrantyExpirationDate</name>
            <value>
                <stringValue>04/18/2028</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>warrantyStatus</name>
            <value>
                <stringValue>Active</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>whenIssueStarted</name>
            <value>
                <stringValue>08/02/2025</stringValue>
            </value>
        </inputParameters>
        <nameSegment>RMAGeneratorFlowAction</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Route_Work_Action_1</name>
        <label>Route Work Action 1</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>routeWork</actionName>
        <actionType>routeWork</actionType>
        <connector>
            <targetReference>Send_Test_Message</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>recordId</name>
            <value>
                <elementReference>Create_Case</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>serviceChannelId</name>
            <value>
                <stringValue>0N9Ho000000JYSFKA4</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>serviceChannelLabel</name>
            <value>
                <stringValue>Cases</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>serviceChannelDevName</name>
            <value>
                <stringValue>Cases</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>routingType</name>
            <value>
                <stringValue>Agent</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>routingConfigId</name>
            <value>
                <stringValue>0K9Ho000000Ie36KAC</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>routingConfigLabel</name>
            <value>
                <stringValue>Cases Routing Configuration</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>queueId</name>
            <value>
                <stringValue>00GHo00000555dNMAQ</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>agentId</name>
            <value>
                <stringValue>005Ho00000LWeu7IAD</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>agentLabel</name>
            <value>
                <stringValue>Jenna Rose</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>isAgentRequired</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>queueLabel</name>
            <value>
                <stringValue>General</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>skillOption</name>
        </inputParameters>
        <inputParameters>
            <name>skillRequirementsResourceItem</name>
        </inputParameters>
        <inputParameters>
            <name>botId</name>
        </inputParameters>
        <inputParameters>
            <name>botLabel</name>
        </inputParameters>
        <inputParameters>
            <name>externalConversationBotId</name>
        </inputParameters>
        <inputParameters>
            <name>externalConversationBotLabel</name>
        </inputParameters>
        <inputParameters>
            <name>copilotId</name>
        </inputParameters>
        <inputParameters>
            <name>copilotLabel</name>
        </inputParameters>
        <inputParameters>
            <name>agentforceEmployeeAgentId</name>
        </inputParameters>
        <inputParameters>
            <name>agentforceEmployeeAgentLabel</name>
        </inputParameters>
        <nameSegment>routeWork</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <actionCalls>
        <name>Send_Test_Message</name>
        <label>Send Test Message</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>SendMessageToSlackChannel</actionName>
        <actionType>slackFlow</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>channelId</name>
            <value>
                <stringValue>C0A78J86CHZ</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>message</name>
            <value>
                <elementReference>exchangeMessage</elementReference>
            </value>
        </inputParameters>
        <nameSegment>SendMessageToSlackChannel</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>64.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <description>This will add documentation to a case</description>
    <environments>Default</environments>
    <interviewLabel>Create Case and add Documentation {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Create Case and add Documentation</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <description>This will create a case on behalf of the customer</description>
        <name>Create_Case</name>
        <label>Create Case</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Case</targetReference>
        </connector>
        <inputAssignments>
            <field>AssetId</field>
            <value>
                <stringValue>02iHo000005fh92IAA</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ContactId</field>
            <value>
                <stringValue>003Ho00002ArIYAIA3</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description</field>
            <value>
                <stringValue>A customer contacted support to report accidental damage to their Toast Go 3 handheld device after inadvertently leaving it inside an oven during restaurant cleanup. Upon inspection, the device screen is cracked and the unit is non-functional due to heat exposure. The customer has an active Toast Care protection plan which covers accidental damage, making them eligible for a device exchange under the coverage terms.</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <stringValue>012Ho000001iScjIAE</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <elementReference>caseSubject</elementReference>
            </value>
        </inputAssignments>
        <object>Case</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Get_Case</name>
        <label>Get Case</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Contact</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Create_Case</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Case</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>ContactEmail</queriedFields>
        <queriedFields>ContactId</queriedFields>
        <queriedFields>ContactPhone</queriedFields>
        <relatedRecords>
            <getFirstRecordOnly>true</getFirstRecordOnly>
            <queriedFields>Id</queriedFields>
            <queriedFields>Email</queriedFields>
            <queriedFields>HomePhone</queriedFields>
            <queriedFields>MailingAddress</queriedFields>
            <relatedObject>Contact</relatedObject>
            <relationshipField>Contact</relationshipField>
        </relatedRecords>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Contact</name>
        <label>Get Contact</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Generate_RMA_Document</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Case.ContactId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Contact</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Create_Case</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>exchangeMessage</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>&lt;p&gt;&lt;strong&gt;Customer:&lt;/strong&gt; {!Get_Contact.Name}&lt;/p&gt;
&lt;p&gt;&lt;strong&gt;Product:&lt;/strong&gt; {!productName}&lt;/p&gt;
&lt;p&gt;&lt;strong&gt;Issue: &lt;/strong&gt;{!issue}&lt;/p&gt;
&lt;p&gt;&lt;strong&gt;RMA File ID: &lt;/strong&gt;{!Generate_RMA_Document.fileId}&lt;/p&gt;</text>
    </textTemplates>
    <variables>
        <description>Additional details that matter to this case</description>
        <name>additionalNotes</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>A brief case subject from the customer&apos;s issue</description>
        <name>caseSubject</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>This is the complete error and the cause of the error.</description>
        <name>errormessage</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>This is the issue from the customer</description>
        <name>issue</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>disregard</description>
        <name>output</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <description>The product that the customer wants to return</description>
        <name>productName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>This is for the area as it relates to the issues seen by the customer</description>
        <name>reportedIssues</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>The serial number of the item the customer wants to return</description>
        <name>serialNumber</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>These are the steps the customer went through to try and troubleshoot the issue</description>
        <name>stepstoproduce</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
