Agentforce/RMA Process/flows/Create_Case_and_add_Documentation.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <description>This will generate an RMA document</description>
        <name>Generate_RMA_Document</name>
        <label>Generate RMA Document</label>
        <locationX>176</locationX>
        <locationY>878</locationY>
        <actionName>RMAGeneratorFlowAction</actionName>
        <actionType>apex</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>approvalNotes</name>
            <value>
                <stringValue>RMA has been approved by RMA department</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>caseId</name>
            <value>
                <elementReference>Create_Case</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>customerEmail</name>
            <value>
                <elementReference>Get_Contact.Email</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>customerName</name>
            <value>
                <elementReference>Get_Contact.Name</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>customerPhone</name>
            <value>
                <elementReference>Get_Contact.Phone</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>errorMessages</name>
            <value>
                <elementReference>errormessage</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>estimatedResolutionTime</name>
            <value>
                <stringValue>Return Initiated</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>issueCategory</name>
            <value>
                <stringValue>General Inquiry</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>partNumber</name>
            <value>
                <elementReference>serialNumber</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>problemDescription</name>
            <value>
                <elementReference>issue</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>processingNotes</name>
            <value>
                <stringValue>Customer requested RMA. Inventory exists for item at the warehouse.</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>productName</name>
            <value>
                <elementReference>productName</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>repairOrReplace</name>
            <value>
                <stringValue>Replace Approved</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>replacementProduct</name>
            <value>
                <elementReference>productName</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>serialNumber</name>
            <value>
                <elementReference>serialNumber</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>severityLevel</name>
            <value>
                <stringValue>Severe</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>shippingMethod</name>
            <value>
                <stringValue>Expedited</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>specialInstructions</name>
            <value>
                <elementReference>additionalNotes</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>stepsToReproduce</name>
            <value>
                <elementReference>stepstoproduce</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>symptomsObserved</name>
            <value>
                <elementReference>reportedIssues</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>warrantyStatus</name>
            <value>
                <stringValue>Active</stringValue>
            </value>
        </inputParameters>
        <nameSegment>RMAGeneratorFlowAction</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>65.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <description>Sets the contactId from the MessagingSession EndUserContactId when the agent did not provide it</description>
        <name>Set_Contact_From_Session</name>
        <label>Set Contact From Session</label>
        <locationX>44</locationX>
        <locationY>398</locationY>
        <assignmentItems>
            <assignToReference>contactId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Messaging_Session.EndUserContactId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Case</targetReference>
        </connector>
    </assignments>
    <decisions>
        <description>Checks whether the agent provided a contactId. If not, attempts to resolve it from the active MessagingSession.</description>
        <name>Has_Contact_Id</name>
        <label>Has Contact Id?</label>
        <locationX>176</locationX>
        <locationY>158</locationY>
        <defaultConnector>
            <targetReference>Create_Case</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Contact Provided</defaultConnectorLabel>
        <rules>
            <name>Contact_Missing</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>contactId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Messaging_Session</targetReference>
            </connector>
            <label>Contact Missing</label>
        </rules>
    </decisions>
    <description>Creates a Case from Agentforce input, generates an RMA PDF document, and attaches it to the Case. Resolves the customer Contact from the MessagingSession when not provided by the agent. Portable across orgs with no hardcoded IDs.</description>
    <environments>Default</environments>
    <interviewLabel>Create Case and add Documentation {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Create Case and add Documentation</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <description>Creates a Case using the contact and issue details provided by the agent</description>
        <name>Create_Case</name>
        <label>Create Case</label>
        <locationX>176</locationX>
        <locationY>518</locationY>
        <connector>
            <targetReference>Get_Contact</targetReference>
        </connector>
        <inputAssignments>
            <field>ContactId</field>
            <value>
                <elementReference>contactId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description</field>
            <value>
                <elementReference>issue</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <elementReference>caseSubject</elementReference>
            </value>
        </inputAssignments>
        <object>Case</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <description>Finds the most recent active MessagingSession with a Contact to resolve the customer identity when contactId was not provided by the agent</description>
        <name>Get_Messaging_Session</name>
        <label>Get Messaging Session</label>
        <locationX>44</locationX>
        <locationY>278</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Set_Contact_From_Session</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>EndUserContactId</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Active</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>MessagingSession</object>
        <sortField>CreatedDate</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Retrieves the Contact record to populate customer details on the RMA document</description>
        <name>Get_Contact</name>
        <label>Get Contact</label>
        <locationX>176</locationX>
        <locationY>698</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Generate_RMA_Document</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>contactId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Contact</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Has_Contact_Id</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <description>Additional details that matter to this case</description>
        <name>additionalNotes</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>A brief case subject from the customer's issue</description>
        <name>caseSubject</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>The Salesforce Contact ID for the customer requesting the RMA. Provided by the Agentforce agent from session context, or resolved from the active MessagingSession.</description>
        <name>contactId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>This is the complete error and the cause of the error.</description>
        <name>errormessage</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>This is the issue from the customer</description>
        <name>issue</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Output message with RMA processing results</description>
        <name>output</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <description>The product that the customer wants to return</description>
        <name>productName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>This is for the area as it relates to the issues seen by the customer</description>
        <name>reportedIssues</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>The serial number of the item the customer wants to return</description>
        <name>serialNumber</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>These are the steps the customer went through to try and troubleshoot the issue</description>
        <name>stepstoproduce</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
