Agentforce/Product Feature Feedback/flows/Product_Feature_Feedback_Flow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <description>Calls the Product Feature Feedback Analyzer Prompt Template</description>
        <name>Analyze_Product_Feature_Feedback</name>
        <label>Analyze Product Feature Feedback</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>Product_Feature_Feedback_Analyzer</actionName>
        <actionType>generatePromptResponse</actionType>
        <connector>
            <targetReference>Process_Product_Feedback_Analysis</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>Input:userFeedback</name>
            <value>
                <elementReference>userFeedback</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>Input:contactId</name>
            <value>
                <elementReference>contactId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>Input:sourceChannel</name>
            <value>
                <elementReference>sourceChannel</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Product_Feature_Feedback_Analyzer</nameSegment>
        <offset>0</offset>
        <outputParameters>
            <assignToReference>analysisResponse</assignToReference>
            <name>promptResponse</name>
        </outputParameters>
    </actionCalls>
    <actionCalls>
        <description>Calls the Product Feature Feedback Processor class to create cases with routing and escalation</description>
        <name>Process_Product_Feedback_Analysis</name>
        <label>Process Product Feedback Analysis</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>ProductFeatureFeedbackProcessor</actionName>
        <actionType>apex</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>contactId</name>
            <value>
                <elementReference>contactId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>feedbackAnalysisData</name>
            <value>
                <elementReference>analysisResponse</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>originalFeedback</name>
            <value>
                <elementReference>userFeedback</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sourceChannel</name>
            <value>
                <elementReference>sourceChannel</elementReference>
            </value>
        </inputParameters>
        <nameSegment>ProductFeatureFeedbackProcessor</nameSegment>
        <offset>0</offset>
        <outputParameters>
            <assignToReference>caseId</assignToReference>
            <name>caseId</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>escalationStatus</assignToReference>
            <name>escalationStatus</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>routingTeam</assignToReference>
            <name>routingTeam</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>analysisInsights</assignToReference>
            <name>analysisInsights</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>processingMessage</assignToReference>
            <name>message</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>success</assignToReference>
            <name>success</name>
        </outputParameters>
    </actionCalls>
    <apiVersion>64.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <environments>Default</environments>
    <interviewLabel>Product Feature Feedback Flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Product Feature Feedback Flow</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Analyze_Product_Feature_Feedback</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>analysisInsights</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <description>This stores the JSON response from the GenAI Prompt Template</description>
        <name>analysisResponse</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>caseId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>contactId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>escalationStatus</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>processingMessage</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>routingTeam</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>sourceChannel</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>success</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>userFeedback</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
