Service Cloud/Incident Detection/flows/SDO_Service_Case_RealTime_Incident.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Detect_Incident_Pattern</name>
        <label>Detect Incident Pattern</label>
        <locationX>308</locationX>
        <locationY>492</locationY>
        <actionName>CaseIncidentHandler</actionName>
        <actionType>apex</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>caseIds</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>CaseIncidentHandler</nameSegment>
    </actionCalls>
    <actionCalls>
        <name>Summarize_Case</name>
        <label>Summarize Case</label>
        <locationX>308</locationX>
        <locationY>276</locationY>
        <actionName>Case_Summarizer</actionName>
        <actionType>generatePromptResponse</actionType>
        <connector>
            <targetReference>Update_Case_Summary</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>Input:Case</name>
            <value>
                <elementReference>$Record</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Case_Summarizer</nameSegment>
        <outputParameters>
            <assignToReference>SummaryText</assignToReference>
            <name>promptResponse</name>
        </outputParameters>
    </actionCalls>
    <apiVersion>59.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <description>Detects Incidents in real-time by summarizing cases first, then analyzing with GenAI.</description>
    <environments>Default</environments>
    <interviewLabel>SDO Service - Case - RealTime Incident {!$Flow.CurrentDateTime}</interviewLabel>
    <label>SDO Service - Case - RealTime Incident</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>Update_Case_Summary</name>
        <label>Update Case Summary</label>
        <locationX>308</locationX>
        <locationY>384</locationY>
        <connector>
            <targetReference>Detect_Incident_Pattern</targetReference>
        </connector>
        <inputAssignments>
            <field>AI_Summary__c</field>
            <value>
                <elementReference>SummaryText</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <object>Case</object>
        <recordTriggerType>Create</recordTriggerType>
        <scheduledPaths>
            <connector>
                <targetReference>Summarize_Case</targetReference>
            </connector>
            <pathType>AsyncAfterCommit</pathType>
        </scheduledPaths>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>SummaryText</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
