LWCs/Sentiment and Coaching/flows/Historical_SCV_Extract_Sentiment_After_Call.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Evaluate_Call_Sentiment</name>
        <label>Evaluate Call Sentiment</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>Call_Sentiment</actionName>
        <actionType>generatePromptResponse</actionType>
        <connector>
            <targetReference>Extract_Sentiment</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>Input:Voice_Call</name>
            <value>
                <elementReference>$Record</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Call_Sentiment</nameSegment>
        <offset>0</offset>
        <outputParameters>
            <assignToReference>sentimentOutput</assignToReference>
            <name>promptResponse</name>
        </outputParameters>
    </actionCalls>
    <actionCalls>
        <name>Extract_Sentiment</name>
        <label>Extract Sentiment</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>TextExtractor</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Update_VC_with_Analysis</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>inputs</name>
            <value>
                <elementReference>sentimentOutput</elementReference>
            </value>
        </inputParameters>
        <nameSegment>TextExtractor</nameSegment>
        <offset>0</offset>
        <outputParameters>
            <assignToReference>sentimentJustification</assignToReference>
            <name>SentimentJustification</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>sentimentRating</assignToReference>
            <name>SentimentRating</name>
        </outputParameters>
    </actionCalls>
    <apiVersion>64.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <environments>Default</environments>
    <interviewLabel>Historical - Evaluate Call Sentiment {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Historical - SCV Extract Sentiment After Call</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>Update_VC_with_Analysis</name>
        <label>Update VC with Analysis</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Clear_Historical_Flag</targetReference>
        </connector>
        <inputAssignments>
            <field>Call_Sentiment__c</field>
            <value>
                <elementReference>sentimentJustification</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Sentiment_Rating__c</field>
            <value>
                <elementReference>sentimentRating</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Clear_Historical_Flag</name>
        <label>Clear Historical Flag</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <inputAssignments>
            <field>Request_Historical_Analysis__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Request_Historical_Analysis__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>VoiceCall</object>
        <recordTriggerType>Update</recordTriggerType>
        <scheduledPaths>
            <connector>
                <targetReference>Evaluate_Call_Sentiment</targetReference>
            </connector>
            <pathType>AsyncAfterCommit</pathType>
        </scheduledPaths>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>sentimentJustification</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>sentimentOutput</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>sentimentRating</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
