LWCs/Sentiment and Coaching/flows/Historical_SCV_Extract_Agent_Performance_After_Call.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Evaluate_Agent_Performance</name>
        <label>Evaluate Agent Performance</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>Agent_Performance_Evaluation</actionName>
        <actionType>generatePromptResponse</actionType>
        <connector>
            <targetReference>Transcript_available</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>Input:Voice_Call</name>
            <value>
                <elementReference>$Record</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Agent_Performance_Evaluation</nameSegment>
        <offset>0</offset>
        <outputParameters>
            <assignToReference>agentEvaluationOutput</assignToReference>
            <name>promptResponse</name>
        </outputParameters>
    </actionCalls>
    <apiVersion>64.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Extract_Agent_Rating</name>
        <label>Extract Agent Rating</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>agentRating</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>frmAgentRating</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_VC_with_Analysis</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Transcript_available</name>
        <label>Transcript available?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Extract_Agent_Rating</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Yes transcript</defaultConnectorLabel>
        <rules>
            <name>No_transcript</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>agentEvaluationOutput</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>No transcript</stringValue>
                </rightValue>
            </conditions>
            <label>No transcript</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>frmAgentRating</name>
        <dataType>Number</dataType>
        <expression>VALUE(RIGHT({!agentEvaluationOutput},(LEN({!agentEvaluationOutput})-FIND(&quot;Rating Score:&quot;, {!agentEvaluationOutput})-13)))</expression>
        <scale>0</scale>
    </formulas>
    <interviewLabel>Historical - SCV Extract Agent Performance After Call {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Historical - SCV Extract Agent Performance After Call</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>Update_VC_with_Analysis</name>
        <label>Update VC with Analysis</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Clear_Historical_Flag</targetReference>
        </connector>
        <inputAssignments>
            <field>Agent_Performance_Evaluation__c</field>
            <value>
                <elementReference>agentEvaluationOutput</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Agent_Performance_Rating__c</field>
            <value>
                <elementReference>agentRating</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Clear_Historical_Flag</name>
        <label>Clear Historical Flag</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <inputAssignments>
            <field>Request_Historical_Analysis__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Request_Historical_Analysis__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>VoiceCall</object>
        <recordTriggerType>Update</recordTriggerType>
        <scheduledPaths>
            <connector>
                <targetReference>Evaluate_Agent_Performance</targetReference>
            </connector>
            <pathType>AsyncAfterCommit</pathType>
        </scheduledPaths>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>agentEvaluationOutput</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>agentRating</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
</Flow>
