LWCs/Sentiment and Coaching/flows/MSG_Extract_Coaching_After_Chat.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Evaluate_Chat_Coaching</name>
        <label>Evaluate Chat Coaching</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>MSG_Chat_Coaching</actionName>
        <actionType>generatePromptResponse</actionType>
        <connector>
            <targetReference>Extract_Coaching</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>Input:Messaging_Session</name>
            <value>
                <elementReference>$Record</elementReference>
            </value>
        </inputParameters>
        <nameSegment>MSG_Chat_Coaching</nameSegment>
        <offset>0</offset>
        <outputParameters>
            <assignToReference>coachingOutput</assignToReference>
            <name>promptResponse</name>
        </outputParameters>
    </actionCalls>
    <actionCalls>
        <name>Extract_Coaching</name>
        <label>Extract Coaching</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>ChatCoachingExtractor</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Update_MS_with_Coaching</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>inputs</name>
            <value>
                <elementReference>coachingOutput</elementReference>
            </value>
        </inputParameters>
        <nameSegment>ChatCoachingExtractor</nameSegment>
        <offset>0</offset>
        <outputParameters>
            <assignToReference>performanceEvaluation</assignToReference>
            <name>PerformanceEvaluation</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>performanceRating</assignToReference>
            <name>PerformanceRating</name>
        </outputParameters>
    </actionCalls>
    <apiVersion>64.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <environments>Default</environments>
    <interviewLabel>Evaluate Chat Coaching {!$Flow.CurrentDateTime}</interviewLabel>
    <label>MSG - Extract Coaching After Chat</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>Update_MS_with_Coaching</name>
        <label>Update MS with Coaching</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <inputAssignments>
            <field>AgentPerformanceEvaluation__c</field>
            <value>
                <elementReference>performanceEvaluation</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>AgentPerformanceRating__c</field>
            <value>
                <elementReference>performanceRating</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Status</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Ended</stringValue>
            </value>
        </filters>
        <object>MessagingSession</object>
        <recordTriggerType>Update</recordTriggerType>
        <scheduledPaths>
            <connector>
                <targetReference>Evaluate_Chat_Coaching</targetReference>
            </connector>
            <pathType>AsyncAfterCommit</pathType>
        </scheduledPaths>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>coachingOutput</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>performanceEvaluation</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>performanceRating</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
</Flow>
